body {
    background: linear-gradient(to right, rgb(221, 0, 255), rgb(153, 0, 255));
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 23px;
}

#center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.322);
    min-width: 400px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.071);
}

#menu {
    height: 40px;
    width: 100%;
    display: flex;
}

#menu > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: solid 1px rgba(0, 0, 0, 0.204);

}

#buttonByCity {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px 0 0 0;
}

#buttonByLang {
    background-color:  rgba(29, 29, 29, 0.184);
    box-shadow: 0 -1px 0px 0 rgba(0, 0, 0, 0.204) inset;
    color: rgba(0, 0, 0, 0.387);
    border-radius: 0 15px 0 0;
}

#byCity, #byLang {
    width: 80%;
}

#byLang {
    display: none;
}

input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.062);
    border: solid 0.5px rgba(0, 0, 0, 0.023);
    border-radius: 3px;
    padding: 3px;
    box-shadow: 1px 1px inset rgba(0, 0, 0, 0.162);
}

#wrapInputLang {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 7px;
}

#wrapButton {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 15px;
}

#wrapButton > div {
    flex: 1;    
    display: flex;
}

#wrapButton button {
    width: 89%;
    height: 30px;
    border-radius: 5px;
    background-color: rgba(244, 250, 255, 0.478);
    border: solid 0.5px rgba(0, 0, 0, 0.048);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#wrapButtonLocate {
    justify-content: right;
}

#wrapButtonGeolocate {
    justify-content: left;
}

#map {
    height: 373px;
    width: 400px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.322);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.071);
    min-height: 300px;
}

@media (max-width: 750px) {
    #center {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .parent {
        min-width: none;
        width: 100vw;
    }
    #map {
        width: 100vw;
    }
}